* {
  margin: 0;
  padding: 0;
  outline: none;/*убирает грницы элементов*/
}


body, html {
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
}

#katalogs *{
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #fafafa;
  font-family: Trebuchet MS, Helvetica;
}

/* Шапка сайта */

header {
  width: 100%;
  padding: 10px 0.5% 0px 0.5%;/*отступы сверху, справа, снизу, слева*/
  background: transparent;/*задаем прозрачность фона*/
  float: left;
  position: fixed;
}

header #logo {
  color: #fff;
  cursor: pointer;/*курсор-указатель на ссылку*/
}

header #logo span {
  font-size: 1.7em;
  line-height: 45px;
  margin-left: 40px;
  font-family: serif;
}

/*если ширина окна больше, чем 701px*/
@media (min-width: 701px) {
  #logo {
    float: left;
    width: 30%;
    font-size: 1.1em;
  }
/*стили меню шапки*/
  #about {
    float: right;
    width: 67%;
  }
}

@media (max-width: 700px) {
  #logo {
    margin-top: 15px;
    width: 100%;
    font-size: 1.5em;
  }

  #about {
    float: left;
    width: 100%;
  }
}
/*стили меню шапки*/
#about {
  text-align: center;
  font-size: 1em;
  line-height: 40px;
  margin-bottom: 10px;
}
/*все ссылки меню - белые*/
#about > a {color: #fff}
/*стили при наведении курсора*/
#about > a:hover {
  color: #b0b0b0;
  text-decoration: underline;
}
/*у всех ссылок в меню шапки, кроме последней, отсуп справа 7%*/
#about > a:not(:last-child) {
  margin-right: 7%;
}

/* Стили для фиксированной шапки */

.fixed {
  z-index: 5000;
  background-color: #fff;
  border-bottom: 1px solid silver;
}



header.fixed #logo {
  color: #343434;

}

.fixed #about a {color: #343434}
.fixed #about a:hover {color: #7c7c7c}

/* Главный блок на сайте */

#top {
  max-height: 50%;
  /*300px;*/
  width: 100%;
  background-image: url(../images/1.png);
  background-blend-mode: multiply;/*мажем наложить несколько фонов на 1 блок*/
  background-color: #2e3a44;
  background-size: cover;/*блок на всю ширину окна*/
  text-align: center;
  color: #fff;
}

@media (min-width: 1001px) {
  #top {
    font-size: 3em;
  }
}

@media (max-width: 1000px) and (min-width: 651px) {
  #top {
    font-size: 2em;
    /*padding-top: 25%;*/
  }
}
#top h1 {
  padding-top: 10%;
}
@media (max-width: 650px) {
  #top {
    font-size: 1.3em;
    padding-top: 20%;
  }
}

@media (max-width: 450px) {
  #top {
    font-size: 0.9em;
  }
}



#top h3 {
  color: #ccc;
}

/* Блок с возможностями */

#main {
  float: left;
  background-color: #f6f6f6;
  border-top: 2px solid silver;
  color: #484848;
  font-size: 1.3em;
}

@media (min-width: 1401px) {
  #main {
    padding: 100px 20%;
    width: 60%;
  }
}

@media (max-width: 1400px) {
  #main {
    padding: 100px 10%;
    width: 80%;
  }
}

@media (max-width: 700px) {
  #main div {
    width: 98%!important;
    margin-bottom: 20px;/*отступ снизу*/
  }
}
/*стили для блоков вснутри mainController*/
#main div {
  width: 48%;
  margin-right: 2%;
  float: left;
}

#main h2 {font-size: 3em}
#main span {color: #a0a0a0}

/*tip*/


.imgtip  img {
  background: #fafafa;
  padding: 5px;
  border: 2px solid silver;
  float: left;
  width: 100%;
  max-width: 500px;
}

/* Блок с преимуществами */

#katalogs , .accountData{
  float: left;width: 100%;
  padding: 50px 0;
}



/* Блок с контактами */
#contacts {
  width: 100%;  
  float: left;

  padding-top: 70px;
  border-top: 4px solid #ccc;
  background: #f4f4f4;
}

h1, h2, h3, h4, h5 {
  font-family: serif;
  font-weight: lighter;
}

#contacts h5 {font-size: 3em; color: #4f4f4f}

#form_input {
  margin-top: 15px;
  font-size: 1.1em;
}
/*
#form_input {
  margin-left: auto;
  margin-right: auto;
}*/

@media (min-width: 1051px) {
  #form_input {
    width: 35%;
    margin-left: 38%;
  }
}

@media (max-width: 1050px) {
  #form_input {
    width: 85%;
    margin-left: 10%;
  }
}

#form_input label {
  color: #505050;
  cursor: pointer;
  font-size: 1.4em;
  font-family:  serif;
}

#form_input label > span {
  color: red;
}

#form_input input,#form_input textarea {
  margin-bottom: 10px;
  width: 70%;
  padding: 10px 2%;
  border-radius: 7px;
  border: 2px solid silver;
  font-size: 0.9em;
  color: #4a4a4a;
}

#form_input input:focus, #form_input textarea:focus {
  border-color: #333;
}

.btn {
  float: left;
  border-radius: 5px;
  padding: 5px 9px;
  font-size: 1.2em;
  background-color: darkslateblue;
  text-shadow: #454545 0 0 2px;
  cursor: pointer;
  color: white;
  font-family: 'Roboto Slab', serif;
}

.btn:hover {
  background-color: midnightblue;
}

/* Вопросы и ответы */

footer {
  background-color: #ccc;
  width: 100%;
  float: left;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (min-width: 801px) {
  footer div {
    width: 25%;
    margin-left: 6%;
    float: left;
  }
}

@media (max-width: 800px) {
  footer div {
    width: 80%;
    margin-left: 10%;
    float: left;
  }
}

.heading {
  color: #7d7d7d;
  font-size: 16pt;
}

.contactPage{
	height: 100%;
	padding: 0px;   
}

.tabl {
  width: 80%;
  border-collapse: collapse;
}

.tabl td, th{
  padding: 10px 5px;

  border: 1px solid silver;
  margin: 0;
}

.mesage_error{
  color: red;
}
.success_message{
  color: green;
}