/*затемнение*/
/*Задание затемнения фона страницы при всплывающем окне*/
.popup-fade:before, .popupAutorizationFade:before {
	/* content генерирует содержимое, которое визуально отображается на экране монитора,
	не добавляясь к дереву документа DOM.
	Можно присвоить стиль содержимому, которого нет в исходном документе*/
	content: '';
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	z-index: 9999;
}
/*любое всплывающее окно*/
.popup {
	position: fixed;
	top: 30%;
	left: 50%;
	padding: 30px;
	width: 400px;
	margin-left: -200px; /*центрируем*/
	background: #fff;
	border: 1px solid ccc;
	border-radius: 3px; 
	z-index: 9999;
	opacity: 1;	/*полная непрозрачность*/
}
/*задаем расположение ссылки для закрытия окна*/
/*popup-close - закрыть окно акции, popupAutorizationCloseLink - закрыть окно авторизации*/
.popup-close, .popupAutorizationCloseLink {
	position: absolute;
	top: 10px;
	right: 10px;
}